/* FONTS */

@font-face {
  font-family: "mission_gothicblack";
  src: url("../fonts/mission_gothic_black-webfont.eot");
  src: url("../fonts/mission_gothic_black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/mission_gothic_black-webfont.woff") format("woff"),
    url("../fonts/mission_gothic_black-webfont.ttf") format("truetype"),
    url("../fonts/mission_gothic_black-webfont.svg#mission_gothicblack")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mission_gothicbold";
  src: url("../fonts/mission_gothic_bold-webfont.eot");
  src: url("../fonts/mission_gothic_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/mission_gothic_bold-webfont.woff") format("woff"),
    url("../fonts/mission_gothic_bold-webfont.ttf") format("truetype"),
    url("../fonts/mission_gothic_bold-webfont.svg#mission_gothicbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mission_gothiclight";
  src: url("../fonts/mission_gothic_light-webfont.eot");
  src: url("../fonts/mission_gothic_light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/mission_gothic_light-webfont.woff") format("woff"),
    url("../fonts/mission_gothic_light-webfont.ttf") format("truetype"),
    url("../fonts/mission_gothic_light-webfont.svg#mission_gothiclight")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mission_gothicregular";
  src: url("../fonts/mission_gothic_regular-webfont.eot");
  src: url("../fonts/mission_gothic_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/mission_gothic_regular-webfont.woff") format("woff"),
    url("../fonts/mission_gothic_regular-webfont.ttf") format("truetype"),
    url("../fonts/mission_gothic_regular-webfont.svg#mission_gothicregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mission_gothicthin";
  src: url("../fonts/mission_gothic_thin-webfont.eot");
  src: url("../fonts/mission_gothic_thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/mission_gothic_thin-webfont.woff") format("woff"),
    url("../fonts/mission_gothic_thin-webfont.ttf") format("truetype"),
    url("../fonts/mission_gothic_thin-webfont.svg#mission_gothicthin")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* BASIC STYLES */

html,
body {
  font-family: "mission_gothiclight", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: #e9e7e1;
}

h1,
h2 {
  font-family: "mission_gothicbold", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h2 > span {
  color: #888;
  font-size: 0.8em;
}

p {
  line-height: 1.5em;
}

#wrapper {
  margin: 30px auto;
  padding: 20px 20px 40px;
  width: 830px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-color: #999;
  -webkit-box-shadow: 0 0 4px #777;
  -moz-box-shadow: 0 0 4px #777;
  box-shadow: 0 0 4px #777;
}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin-top: 45px;
  margin-bottom: 30px;
}

a:link {
  color: #16618d; /* dark blue */
  text-decoration: underline;
}
a:visited {
  color: #66618d;
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

img {
  border: 1px solid #ccc;
}

.one-third {
  display: block;
  width: 33.333%;
  float: left;
}
.one-third-shortened {
  display: block;
  width: 17.3%;
  float: left;
}
